# gitignore for pinktrace
.*.swp
*~
*.[oa]
*.py[co]

tags

*.lo
*.la

.deps
.libs
Makefile.in
Makefile

gmon.out
gprof*

/pinktrace-*
/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.sub
/config.status
/configure
/compile
/depcomp
/dist
/install-sh
/missing
/stamp-h1
/libtool
/ltmain.sh
/pinktrace.cabal
/Setup.lhs

doc/css/screen.css
doc/_config.yml
doc/*.html
doc/_site
doc/api/c/c
doc/api/c/doxygen.conf
doc/api/c/pinktrace.tag
doc/api/python/python
doc/api/ruby/ruby

examples/c/pink-about
examples/c/pink-fork
examples/c/pink-simple-strace

haskell/System/PinkTrace.hs

include/pinktrace/about.h
include/pinktrace/bitness.h

m4/libtool.m4
m4/lt*.m4

pkg-config/pinktrace.pc
pkg-config/pinktrace_easy.pc

python/pinktrace/__init__.py
python/pinktrace/*.so

src/freebsd/amd64/fbsd32-syscalls.master
src/freebsd/amd64/pink-syscallent32.h
src/freebsd/init_sysent.c
src/freebsd/syscalls.c
src/freebsd/syscalls.master
src/freebsd/pink-syscallent.h

tests/check_pinktrace
tests/easy/check_pinktrace_easy
tests/easy/t[0-9][0-9]_*
