# gitignore for pinktrace
.*.swp
*~
*.[oa]

tags

*.lo
*.la

.deps
.libs
Makefile.in
Makefile

gmon.out
gprof*

/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.sub
/config.status
/configure
/compile
/depcomp
/install-sh
/missing
/stamp-h1
/libtool
/ltmain.sh

doc/api/c/c
doc/api/c/doxygen.conf
doc/api/c/libpinktrace.tag
doc/api/python/python
doc/api/ruby/ruby

examples/pink-about
examples/pink-fork
examples/pink-simple-strace

include/pinktrace/about.h

m4/libtool.m4
m4/lt*.m4

pkg-config/pinktrace.pc

python/pinktrace.c

ruby/PinkTrace.so

src/pink-syscallent.h
src/pink-syscallent32.h
src/pink-syscallent64.h

tests/check_libpinktrace
