# gitignore for pinktrace
.*.swp
*~
*.[oa]

tags

*.lo
*.la

.deps
.libs
Makefile.in
Makefile

gmon.out
gprof*

/pinktrace.pc
/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.sub
/config.status
/configure
/compile
/depcomp
/install-sh
/missing
/stamp-h1
/libtool
/ltmain.sh

doc/reference
doc/doxygen.conf
doc/libpinktrace.tag

examples/pink-example

m4/libtool.m4
m4/lt*.m4

src/pink-syscallent.h
src/pink-syscallent32.h
src/pink-syscallent64.h

tests/check_libpinktrace
