table.highlight { background: #FFF5EE; width: 90%; margin: 0; padding: 0; border: 0; border-spacing: 0; border-collapse: collapse; }
table.highlight pre { margin: 0; padding: 0; border: 0; }
table.highlight td { margin: 0; padding: 3px; border: 0; }
td.code { width: 100% }

.highlight pre  { background: #fff5ee; color: #000000; background-color: #fff5ee }
.highlight pre .c { color: #339933; font-style: italic; background-color: #fff5ee } /* Comment */
.highlight pre .err { color: #000000; background-color: #fff5ee } /* Error */
.highlight pre .g { color: #000000; background-color: #fff5ee } /* Generic */
.highlight pre .k { color: #6a5acd; font-weight: bold; background-color: #fff5ee } /* Keyword */
.highlight pre .l { color: #000000; background-color: #fff5ee } /* Literal */
.highlight pre .n { color: #000000; background-color: #fff5ee } /* Name */
.highlight pre .o { color: #000000; background-color: #fff5ee } /* Operator */
.highlight pre .x { color: #000000; background-color: #fff5ee } /* Other */
.highlight pre .p { color: #000000; background-color: #fff5ee } /* Punctuation */
.highlight pre .cm { color: #339933; font-style: italic; background-color: #fff5ee } /* Comment.Multiline */
.highlight pre .cp { color: #339933; font-style: italic; background-color: #fff5ee } /* Comment.Preproc */
.highlight pre .c1 { color: #339933; font-style: italic; background-color: #fff5ee } /* Comment.Single */
.highlight pre .cs { color: #339933; font-style: italic; background-color: #fff5ee } /* Comment.Special */
.highlight pre .gd { color: #000000; background-color: #fff5ee } /* Generic.Deleted */
.highlight pre .ge { color: #000000; text-decoration: underline; background-color: #fff5ee } /* Generic.Emph */
.highlight pre .gr { color: #000000; background-color: #ff0000 } /* Generic.Error */
.highlight pre .gh { color: #000000; font-weight: bold; background-color: #fff5ee } /* Generic.Heading */
.highlight pre .gi { color: #000000; background-color: #fff5ee } /* Generic.Inserted */
.highlight pre .go { color: #000000; background-color: #fff5ee } /* Generic.Output */
.highlight pre .gp { color: #000000; background-color: #fff5ee } /* Generic.Prompt */
.highlight pre .gs { color: #000000; background-color: #fff5ee } /* Generic.Strong */
.highlight pre .gu { color: #000000; font-weight: bold; background-color: #fff5ee } /* Generic.Subheading */
.highlight pre .gt { color: #000000; background-color: #fff5ee } /* Generic.Traceback */
.highlight pre .kc { color: #6a5acd; font-weight: bold; background-color: #fff5ee } /* Keyword.Constant */
.highlight pre .kd { color: #6a5acd; font-weight: bold; background-color: #fff5ee } /* Keyword.Declaration */
.highlight pre .kp { color: #6a5acd; font-weight: bold; background-color: #fff5ee } /* Keyword.Pseudo */
.highlight pre .kr { color: #6a5acd; font-weight: bold; background-color: #fff5ee } /* Keyword.Reserved */
.highlight pre .kt { color: #6a5acd; font-weight: bold; background-color: #fff5ee } /* Keyword.Type */
.highlight pre .ld { color: #000000; background-color: #fff5ee } /* Literal.Date */
.highlight pre .m { color: #000000; background-color: #fff5ee } /* Literal.Number */
.highlight pre .s { color: #b8860b; background-color: #fff5ee } /* Literal.String */
.highlight pre .na { color: #8a2be2; background-color: #fff5ee } /* Name.Attribute */
.highlight pre .nb { color: #000000; background-color: #fff5ee } /* Name.Builtin */
.highlight pre .nc { color: #000000; background-color: #fff5ee } /* Name.Class */
.highlight pre .no { color: #000000; font-weight: bold; background-color: #fff5ee } /* Name.Constant */
.highlight pre .nd { color: #000000; background-color: #fff5ee } /* Name.Decorator */
.highlight pre .ni { color: #000000; background-color: #fff5ee } /* Name.Entity */
.highlight pre .ne { color: #000000; background-color: #fff5ee } /* Name.Exception */
.highlight pre .nf { color: #8a2be2; background-color: #fff5ee } /* Name.Function */
.highlight pre .nl { color: #000000; background-color: #fff5ee } /* Name.Label */
.highlight pre .nn { color: #000000; background-color: #fff5ee } /* Name.Namespace */
.highlight pre .nx { color: #000000; background-color: #fff5ee } /* Name.Other */
.highlight pre .py { color: #000000; background-color: #fff5ee } /* Name.Property */
.highlight pre .nt { color: #6a5acd; font-weight: bold; background-color: #fff5ee } /* Name.Tag */
.highlight pre .nv { color: #c71585; background-color: #fff5ee } /* Name.Variable */
.highlight pre .ow { color: #ff0000; background-color: #fff5ee } /* Operator.Word */
.highlight pre .w { color: #000000; background-color: #fff5ee } /* Text.Whitespace */
.highlight pre .mf { color: #000000; background-color: #fff5ee } /* Literal.Number.Float */
.highlight pre .mh { color: #000000; background-color: #fff5ee } /* Literal.Number.Hex */
.highlight pre .mi { color: #000000; background-color: #fff5ee } /* Literal.Number.Integer */
.highlight pre .mo { color: #000000; background-color: #fff5ee } /* Literal.Number.Oct */
.highlight pre .sb { color: #b8860b; background-color: #fff5ee } /* Literal.String.Backtick */
.highlight pre .sc { color: #b8860b; background-color: #fff5ee } /* Literal.String.Char */
.highlight pre .sd { color: #b8860b; background-color: #fff5ee } /* Literal.String.Doc */
.highlight pre .s2 { color: #b8860b; background-color: #fff5ee } /* Literal.String.Double */
.highlight pre .se { color: #b8860b; background-color: #fff5ee } /* Literal.String.Escape */
.highlight pre .sh { color: #b8860b; background-color: #fff5ee } /* Literal.String.Heredoc */
.highlight pre .si { color: #b8860b; background-color: #fff5ee } /* Literal.String.Interpol */
.highlight pre .sx { color: #b8860b; background-color: #fff5ee } /* Literal.String.Other */
.highlight pre .sr { color: #b8860b; background-color: #fff5ee } /* Literal.String.Regex */
.highlight pre .s1 { color: #b8860b; background-color: #fff5ee } /* Literal.String.Single */
.highlight pre .ss { color: #b8860b; background-color: #fff5ee } /* Literal.String.Symbol */
.highlight pre .bp { color: #000000; background-color: #fff5ee } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #c71585; background-color: #fff5ee } /* Name.Variable.Class */
.highlight pre .vg { color: #c71585; background-color: #fff5ee } /* Name.Variable.Global */
.highlight pre .vi { color: #c71585; background-color: #fff5ee } /* Name.Variable.Instance */
.highlight pre .il { color: #000000; background-color: #fff5ee } /* Literal.Number.Integer.Long */
